body{
    padding: 0;
    margin: 0;
}

.top-container{
    background-color: rgb(04, 38, 24);
}

.header, .hero {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
    padding: 0 16px;
}

.header {
    padding-top: 32px;
}

.hb-left{
    flex-shrink: 0.5;
}

.hero{
    color: white;
    padding: 128px 16px;
}

.hero-img {
    border-radius: 32px;
    width: 100%;
    max-width: 650px;
    flex-shrink: 1;
}

.btn-primary{
    padding: 8px 16px;
    border-radius: 8px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.logo-touchgrass{
    filter: invert(100%);
}

div.hero h1{
    font-size: 56px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highlight {
    background-color: #ffd255;
    color: black;
    padding: 0px 8px;
}

.about-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 64px 0px;
}

.about-content {
    display: flex;
    justify-content: space-evenly;
}

div.about-container h2{
    margin: auto;
}