body{
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 160%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* HEADER AND HERO */

.top-container{
    background-color: rgb(04, 38, 24);
}

.header, .hero {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
    padding: 0 16px;
}

.header {
    padding-top: 32px;
}

.hb-left{
    flex-shrink: 0.5;
    max-width: 680px;
}

.hero{
    color: white;
    padding: 128px 16px;
}

.hero-img {
    border-radius: 32px;
    width: 100%;
    max-width: 650px;
    flex-shrink: 1;
}

.hero-img:hover{
    transform: scale(1.05);
    transition-duration: 150ms;
}

.btn-primary{
    padding: 16px 32px;
    border-radius: 8px;
    display: block;
    width: 230px;
    background-color: #ffd255;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 32px;
        text-align: center;
}

.btn-primary:hover {
    background-color: #fdc427;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.menu-link:hover {
    color: #fdc427;
}

.logo-touchgrass{
    filter: invert(100%);
}

div.hero h1{
    font-size: 80px;
    font-family: "Gochi Hand", cursive;
    margin-top: 0;
}

.highlight {
    background-color: #ffd255;
    color: black;
    padding: 0px 8px;
}

div.hero p{
    margin: 0;
}


/*ABOUT SECTION*/

.about-container {
    display: flex;
    flex-direction: column;
    padding: 128px 32px;
}

.about-content {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    gap: 32px;
    margin: auto;
}

div.about-container h2{
    margin: auto;
    font-size: 52px;
    font-family: "Gochi Hand", cursive;
    color: hsl(108, 64%, 24%);
}

div.about-container h3, div.about-container p {
    text-align: center;
}

div.about-container h3 {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 32px;
    font-family: "Gochi Hand", cursive;
    color: hsl(108, 64%, 24%);
}

div.about-container p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.about-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

div.about-items img {
    width: 120px;
}


div.about-items img:hover{
    transform: scale(1.05);
    transition-duration: 150ms;
}

/*QUOTE*/

.quotecontainer {
    padding: 128px 64px;
    background-color: antiquewhite;
}

.quotation {
    max-width: 1440px;
    margin: auto;
}

div.quotation p {
    font-size: 32px;
    line-height: 160%;
    font-style: italic;
    
}

div.quotation span{
    font-size: 54px;
    font-family: "Gochi Hand", cursive;
    color: hsl(108, 64%, 24%);

}

.signature {
    text-align: right;
    margin-left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.cta-container {
    padding: 128px 0px;
}

.cta {
    max-width: 1200px;
    border-radius: 16px;
    background-color: rgb(04, 38, 24);
    padding: 64px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.btn-secondary {
    padding: 16px 32px;
    background-color: transparent;
    color: white;
    justify-self: center;
    border-radius: 8px;
    border: 2px solid white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-shrink: 0;
    margin-left: 64px;
    text-decoration: none;
    width: 150px;
    text-align: center;

}

.btn-secondary:hover {
    background-color: rgba(211, 223, 196, 0.25);
    font-weight: bold;
}

div.cta-text h2 {
    font-family: "Gochi Hand", cursive;
    font-size: 32px;
    margin: 0;
}

div.cta-text p {
    margin: 16px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* FOOTER */

.footer {
    background-color: rgb(200, 204, 193);
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(119, 119, 119);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.footer a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}
