body{
    padding: 0;
    margin: 0;
}

.top-container{
    background-color: rgb(04, 38, 24);
}

.header, .hero {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
    padding: 0 16px;
}

.header {
    padding-top: 32px;
}

.hb-left{
    flex-shrink: 0.5;
}

.hero{
    color: white;
    padding: 128px 16px;
}

.hero-img {
    border-radius: 32px;
    width: 100%;
    max-width: 650px;
    flex-shrink: 1;
}

.btn-primary{
    padding: 8px 16px;
    border-radius: 8px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.logo-touchgrass{
    filter: invert(100%);
}

div.hero h1{
    font-size: 56px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highlight {
    background-color: #ffd255;
    color: black;
    padding: 0px 8px;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding: 64px 32px;
}

.about-content {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    gap: 32px;
    margin: auto;
}

div.about-container h2{
    margin: auto;
    font-size: 32px;
}

div.about-container h3, div.about-container p {
    text-align: center;
}

div.about-container h3 {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 22px;
}

div.about-container p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.about-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

div.about-items img {
    width: 120px;
}

.quotecontainer {
    padding: 64px;
    background-color: antiquewhite;
}

.quotation {
    max-width: 1440px;
    margin: auto;
}

div.quotation p {
    font-size: 32px;
    line-height: 160%;
    font-style: italic;
}

.signature {
    text-align: right;
}